# Análise Exploratória de Dados - Credit Risk

## Introdução

As variáveis do dataset de risco abaixo são:
1. person_age: Idade da pessoa que está solicitando o crédito.
2. person_income: Renda anual da pessoa solicitante.
3. person_home_ownership: Tipo de posse do imóvel onde a pessoa reside.
4. person_emp_length: Tempo de experiência profissional em anos.
5. loan_intent: Finalidade do empréstimo.
6. loan_grade: Classificação de risco atribuída ao empréstimo, geralmente baseada em critérios de crédito.
7. loan_amnt: Valor do empréstimo solicitado.
8. loan_int_rate: Taxa de juros do empréstimo.
9. loan_percent_income: Percentual da renda anual que será comprometido com o pagamento do empréstimo.
10. cb_person_default_on_file: Indica se há registro prévio de inadimplência no histórico de crédito do solicitante .
11. cb_person_cred_hist_length: |Histórico de crédito da pessoa (em anos).

Variável Target: loan_status: Status do empréstimo.

### 1. Importação de Bibliotecas e Configuração Inicial

In [ ]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns

In [ ]:
df=pd.read_csv('../data/raw/credit_risk_dataset.csv')

In [ ]:
df.head()

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
0,22,59000,RENT,123.0,PERSONAL,D,35000,16.02,1,0.59,Y,3
1,21,9600,OWN,5.0,EDUCATION,B,1000,11.14,0,0.10,N,2
2,25,9600,MORTGAGE,1.0,MEDICAL,C,5500,12.87,1,0.57,N,3
3,23,65500,RENT,4.0,MEDICAL,C,35000,15.23,1,0.53,N,2
4,24,54400,RENT,8.0,MEDICAL,C,35000,14.27,1,0.55,Y,4

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32581 entries, 0 to 32580
Data columns (total 12 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   person_age                  32581 non-null  int64
 1   person_income               32581 non-null  int64
 2   person_home_ownership       32581 non-null  object
 3   person_emp_length           31686 non-null  float64
 4   loan_intent                 32581 non-null  object
 5   loan_grade                  32581 non-null  object
 6   loan_amnt                   32581 non-null  int64
 7   loan_int_rate               29465 non-null  float64
 8   loan_status                 32581 non-null  int64
 9   loan_percent_income         32581 non-null  float64
 10  cb_person_default_on_file   32581 non-null  object
 11  cb_person_cred_hist_length  32581 non-null  int64
dtypes: float64(3), int64(5), object(4)
memory usage: 3.0+ MB

In [ ]:
df.shape

(32581, 12)

In [ ]:
## 1. Importação de Bibliotecas e Configuração Inicial

## 2. Carregamento dos Dados
- Fonte dos dados.
- Pré-visualização e resumo.

## 3. Visualização Geral dos Dados
- Informações básicas e estatísticas descritivas.

SyntaxError: invalid syntax (1319470278.py, line 4)